<div id="destroy" class="modal hide fade" role="dialog" aria-labelledby="destroyLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="destroyLabel" class="text-error">Oh wait!</h3>
	</div>
	<div class="modal-body">
		<strong>Are you sure you want to destroy this container ?</strong>
	</div>
	<div class="modal-footer">
		<div class="buttons-modal-footer">
			<button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<a class="btn btn-danger destroy-link modalbutton" href=""><i class="icon-trash icon-white"></i> Destroy</a>
		</div>
		<div class="progress progress-striped active hide loader-modal-footer">
			<div class="bar" style="width: 100%;"></div>
		</div>
	</div>
</div>