{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="span9">
	{{ super() }}
	<p class="pull-right" style="margin:10px 10px 0 0;"><a class="btn btn-small btn-danger" data-toggle="modal" data-target="#reboot"><i class="icon-repeat icon-white"></i> Reboot</a></p>
	<p class="pull-right" style="margin:10px 10px 0 0;"><a class="btn btn-small btn-success" data-toggle="modal" data-target="#createCT"><i class="icon-plus-sign icon-white"></i> Create <abbr title="Container">CT</abbr></a></p>
	<div class="hero-unit">
		{% if dist == 'Unknown' %}<div class="alert alert-error">LXC Web Panel is optimized for Ubuntu 12.10 !</div>{% endif %}
		<div class="row">
			<div class="span3" style="margin-left:20px;">
				<h3>{{ dist }} (host)</h3>
				<p>CPU usage : <span id="cpu-usage" class="hide"></span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="cpu-usage-bar" style="width:0%;"></div>
				</div>
				<p>Memory usage : <span id="memory-usage" class="hide"></span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="memory-usage-bar" style="width: 0%;"></div>
					<abbr title="Cached memory"><div class="bar bar-success" id="memory-cache-usage-bar" style="width: 0%;"></div></abbr>
				</div>
			</div>
			<div class="span3" style="margin-top:60px; margin-left:20px;">
				<p>Disk usage : <span id="disk-usage" class="hide"></span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="disk-usage-bar" style="width: 0%;"></div>
				</div>
				<p>Uptime : <span id="uptime" class="hide"></span></p>
			</div>
		</div>
		<span class="label label-info hide" id="version" style="position:relative; float:right; bottom:0; margin:-20px -23px 0 0;">New version is out ! ()</span>
	</div>
	{% if containers != [] %}<table class="table">
		<thead>
			<tr>
				<th>Status</th>
				<th>Name</th>
				<th>Hostname</th>
				<th>IP Address</th>
				<th>Mem. usage</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% set td = {'RUNNING':'success','FROZEN':'info','STOPPED':'important'} %}
			{% set tr = {'RUNNING':'success','FROZEN':'info','STOPPED':'error'} %}
			{% for i in containers_all %}
				{% set disabled = {'RUNNING':'success','FROZEN':'info','STOPPED':'important'} %}
				<tr class="{{ tr[i.status] }}">
					<td><span class="label label-{{ td[i.status] }}">{{ i.status|capitalize }}</span></td>
					<td><a href="../{{i.name}}/edit" title="Click to edit {{i.name}}">{{i.name}}</a></td>
					<td>{{i.settings.utsname}}</td>
					<td>{% if i.settings.flags == 'up' %}{% if i.settings.ipv4 != '' %}{{i.settings.ipv4}}{% else %}Undefined{% endif %}{% elif i.settings.flags == 'down' %}Link Down{% endif %}</td>
					<td id="{{i.name}}">{{ render_memory_wrapper(i.memusg) }}</td>
					<td>
						<div class="btn-toolbar" style="margin:8px 0 8px 0;">
							<div class="btn-group">
								{% set start_action = {'STOPPED':'start','FROZEN':'unfreeze'} %}
								<a class="btn btn-small {% if i.status == 'RUNNING' %}disabled{% endif %}" {% if i.status == 'STOPPED' or i.status == 'FROZEN' %}href="{{ url_for('action', name=i.name, action=start_action[i.status], token=session.token) }}"{% endif %}><i class="icon-play"></i> Start</a>
								<a class="btn btn-small {% if i.status == 'STOPPED' %}disabled{% endif %}" {% if i.status == 'RUNNING' or i.status == 'FROZEN' %}href="{{ url_for('action', name=i.name, action='stop', token=session.token) }}"{% endif %}><i class="icon-stop"></i> Stop</a>
								<a class="btn btn-small {% if i.status == 'FROZEN' or i.status == 'STOPPED' %}disabled{% endif %}" {% if i.status == 'RUNNING' %}href="{{ url_for('action', name=i.name, action='freeze', token=session.token) }}"{% endif %}><i class="icon-pause"></i> Freeze</a>
							</div>
							<a class="pull-right close destroy" data-container-name="{{i.name}}" style="margin-top:4px;"><i class="icon-remove-sign"></i></a>
						</div>
				</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>{% endif %}
</div>
{% include "includes/modals.html" %}
{% endblock %}

{% macro memory_color(value) -%}{% if value != 0 %}{% if 0 <= value <= 511 %}success{% elif 512 <= value < 980 %}warning{% else %}important{% endif %}{% endif %}{%- endmacro %}
{% macro render_memory_wrapper(value) -%}
	{% if value != 0 %}<span class="label label-{{ memory_color(value) }}">{{ value }} MB</span>{% endif %}
{%- endmacro %}

{% block script %}
<script type="text/javascript">
			function refreshMemoryHost(){
				$.getJSON($SCRIPT_ROOT + '/_refresh_memory_host', function(data) {
					$('#memory-usage').text(data.used +' / '+ data.total +' MB').fadeIn();
					$('#memory-usage-bar').css({'width':data.percent+'%'});
					$('#memory-cache-usage-bar').css({'width':data.percent_cached+'%'});
				});
			}

			function refreshCPUHost(){
				$.get($SCRIPT_ROOT + '/_refresh_cpu_host', function(data) {
					$('#cpu-usage').text(data +'%').fadeIn();
					$('#cpu-usage-bar').css({'width':data +'%'});
				});
			}

			function refreshDiskHost(){
				$.getJSON($SCRIPT_ROOT + '/_refresh_disk_host', function(data) {
					$('#disk-usage').text(data.used +' ('+ data.free +' free)').fadeIn();
					$('#disk-usage-bar').css({'width':data.percent});
				});
			}

			function refreshUptimeHost(){
				$.getJSON($SCRIPT_ROOT + '/_refresh_uptime_host', function(data) {
					$('#uptime').text(data.day +' day(s) '+ data.time).fadeIn();
				});
			}

			function refreshMemoryContainers(){
				$.getJSON($SCRIPT_ROOT + '/_refresh_memory_containers', function(data) {
					data = data.data;
					for (i in data) {
						var el = $('#'+data[i].name+' span');
						el.text(data[i].memusg+' MB');
						el[0].className = el[0].className.replace(/label\-(success|warning|important)/g,'label-'+memory_color(data[i].memusg));
					}
				});
			}

			function memory_color(value){
				if(value != 0)
					if ('0' <= value && value <= '512')
						 return 'success';
					else if ('512' <= value && value < '1024')
						return 'warning';
					else
						return 'important';
			}

			function check_version(){
				$.getJSON($SCRIPT_ROOT + '/_check_version', function(data) {
					if (data.latest > data.current) {
						$('#version').text('New version is out ! ('+ data.latest +')').fadeIn().animate({"left": "-=25px"}, 65).animate({"left": "+=50px"}, 65).animate({"left": "-=50px"}, 65).animate({"left": "+=50px"}, 65).animate({"left": "-=50px"}, 65).animate({"left": "+=25px"}, 65).fadeTo(5000, 0.5);
						$('#version').hover(function() {
							$(this).fadeTo(400, 1);
						},
						function() {
							$(this).fadeTo(400, 0.5);
						});
					};
				});
			}

			function refresh(){
				$('#home-load').fadeIn();
				refreshMemoryHost();
				refreshCPUHost();
				refreshDiskHost();
				refreshUptimeHost();
				refreshMemoryContainers();
				$('#home-load').fadeOut();
			}

			$(function() {
				refresh();
				check_version();

				window.setInterval('refresh()', 15000);
			});

			$(document).ready(function(){

				var token = '{{ session.token }}';

				 $(".destroy").on('click',function(e){
					 $(".destroy-link").attr('href',"/action?action=destroy&token="+ token +"&name="+ $(this).data('container-name'));
					 $('#destroy').modal('show');
				 });

				 // Create CT
				 $('#advancedbutton').click(function(e){ e.preventDefault(); $('#advanceddiv').slideToggle(); });

				 $("#BackingStore").on('change',function(){
						var _val = $(this).val();
						if( _val == 'lvm'){
							$('#lvm').slideDown();
							$('#directory').slideUp();
						}
						else if ( _val == 'directory' ){
							$('#directory').slideDown();
							$('#lvm').slideUp();
						}
						else{
							$('#directory').slideUp();
							$('#lvm').slideUp();
						}
					});
					$('.modalbutton').on('click', function () {
						$('.buttons-modal-footer').slideUp()
						$('.loader-modal-footer').slideDown()
					})

			});
</script>
{% endblock %}