{% set td = {'running':'success','frozen':'info','stopped':'important'} %}
{% set tr = {'running':'success','frozen':'info','stopped':'error'} %}
{% set disabled = {'running':'success','frozen':'info','stopped':'important'} %}
{% extends "layout.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
<div class="span9">
	{{ super() }}
	{% if session.su == 'Yes' %}<p class="pull-right" style="margin:10px 10px 0 0;"><a class="btn btn-small btn-danger" data-toggle="modal" data-target="#reboot"><i class="icon-off icon-white"></i> Reboot</a></p>
	{% if containers != [] %}<p class="pull-right" style="margin:10px 10px 0 0;"><a class="btn btn-small btn-inverse" data-toggle="modal" data-target="#cloneCT"> <i class="icon-repeat icon-white"></i> Clone <abbr title="Container">CT</abbr></a></p>{% endif %}
	<p class="pull-right" style="margin:10px 10px 0 0;"><a class="btn btn-small btn-success" data-toggle="modal" data-target="#createCT"><i class="icon-plus-sign icon-white"></i> Create <abbr title="Container">CT</abbr></a></p>{% endif %}

	<div class="hero-unit">
		{% if dist == 'Unknown' %}<div class="alert alert-error">LXC Web Panel is optimized for Ubuntu 12.10 !</div>{% endif %}
		<div class="row">
			<div class="span3" style="margin-left:20px;">
				<h3>{{ dist }} (host)</h3>
				<p>CPU usage : <span id="cpu-usage" class="hide"></span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="cpu-usage-bar" style="width:0%;"></div>
				</div>
				<p>Memory usage : <span id="memory-usage" class="hide"></span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="memory-usage-bar" style="width: 0%;"></div>
					<abbr title="Cached memory"><div class="bar bar-success" id="memory-cache-usage-bar" style="width: 0%;"></div></abbr>
				</div>
			</div>
			<div class="span3" style="margin-top:29px; margin-left:20px;">
				<p>Disk usage : <span id="disk-usage" class="hide"></span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="disk-usage-bar" style="width: 0%;"></div>
				</div>
				<p>Uptime : <span id="uptime" class="hide"></span></p>
			</div>
		</div>
		<a href="http://lxc-webpanel.github.io/" target="_blank"><span class="label label-info hide" id="version" style="position:relative; float:right; bottom:0; margin:-20px -23px 0 0;"><i class="icon-info-sign icon-white"></i> New version is out ! (<span id="vernumber"></span>)</span></a>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Status</th>
				<th>Name</th>
				<th>Hostname</th>
				<th>IP Address</th>
				<th>Mem. usage</th>
				<th>Actions</th>
			</tr>
		</thead>	
		{% for status in containers_all %}
			<tbody>
				{% for container in status.containers %}
					<tr class="{{ tr[status.status] }}">
						{% if loop.first %}<td rowspan="{{ status.containers|count }}"><span class="label label-{{ td[status.status] }}">{{ status.status|capitalize }}</span></td>{% endif %}
						<td><a href="{{ url_for('edit',container=container.name) }}" title="Click to edit {{container.name}}">{{container.name}}</a></td>
						<td>{{container.settings.utsname}}</td>
						<td>{% if container.settings.flags == 'up' %}{% if container.settings.ipv4 != '' %}{{container.settings.ipv4}}{% else %}Undefined{% endif %}{% elif container.settings.flags == 'down' %}Link Down{% endif %}</td>
						<td id="{{container.name}}">{{ render_memory_wrapper(container.memusg) }}</td>
						<td>
							<div class="btn-toolbar" style="margin:8px 0;">
								<div class="btn-group">
									{% set start_action = {'stopped':'start','frozen':'unfreeze'} %}
									<a class="btn btn-small{% if status.status == 'running' %} disabled{% endif %}"{% if status.status == 'stopped' or status.status == 'frozen' %} href="{{ url_for('action', name=container.name, action=start_action[status.status], token=session.token) }}"{% endif %}><i class="icon-play"></i> Start</a>
									<a class="btn btn-small{% if status.status == 'stopped' %} disabled{% endif %}"{% if status.status == 'running' or status.status == 'frozen' %} href="{{ url_for('action', name=container.name, action='stop', token=session.token) }}"{% endif %}><i class="icon-stop"></i> Stop</a>
									<a class="btn btn-small{% if status.status == 'frozen' or status.status == 'stopped' %} disabled{% endif %}"{% if status.status == 'running' %} href="{{ url_for('action', name=container.name, action='freeze', token=session.token) }}"{% endif %}><i class="icon-pause"></i> Freeze</a>
								</div>
								{% if session.su == 'Yes' %}<a class="pull-right close destroy" data-container-name="{{container.name}}" style="margin-top:4px;"><i class="icon-remove-sign"></i></a>{% endif %}
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% endfor %}
	</table>
</div>
{% if session.su == 'Yes' %}
	{% include "includes/modal_reboot.html" %}
	{% include "includes/modal_create.html" %}

	{% if containers != [] %}
		{% include "includes/modal_clone.html" %}
		{% include "includes/modal_destroy.html" %}
	{% endif %}
{% endif %}

{% endblock %}

{% macro memory_color(value) -%}{% if value != 0 %}{% if 0 <= value <= 511 %}success{% elif 512 <= value < 980 %}warning{% else %}important{% endif %}{% endif %}{%- endmacro %}
{% macro render_memory_wrapper(value) -%}
	{% if value != 0 %}<span class="label label-{{ memory_color(value) }}">{{ value }} MB</span>{% endif %}
{%- endmacro %}

{% block script %}
<script src="{{ url_for('static', filename='js/bootstrapSwitch.js') }}"></script>
<script type="text/javascript">
			function refreshMemoryHost(){
				$.getJSON($SCRIPT_ROOT + '/_refresh_memory_host', function(data) {
					$('#memory-usage').text(data.used +' / '+ data.total +' MB').fadeIn();
					$('#memory-usage-bar').css({'width':data.percent+'%'});
					$('#memory-cache-usage-bar').css({'width':data.percent_cached+'%'});
				});
			}

			function refreshCPUHost(){
				$.get($SCRIPT_ROOT + '/_refresh_cpu_host', function(data) {
					$('#cpu-usage').text(data +'%').fadeIn();
					$('#cpu-usage-bar').css({'width':data +'%'});
				});
			}

			function refreshDiskHost(){
				$.getJSON($SCRIPT_ROOT + '/_refresh_disk_host', function(data) {
					$('#disk-usage').text(data.used +' ('+ data.free +' free)').fadeIn();
					$('#disk-usage-bar').css({'width':data.percent});
				});
			}

			function refreshUptimeHost(){
				$.getJSON($SCRIPT_ROOT + '/_refresh_uptime_host', function(data) {
					$('#uptime').text(data.day +' day(s) '+ data.time).fadeIn();
				});
			}

			function refreshMemoryContainers(){
				$.getJSON($SCRIPT_ROOT + '/_refresh_memory_containers', function(data) {
					data = data.data;
					for (i in data) {
						var el = $('#'+data[i].name+' span');
						el.text(data[i].memusg+' MB');
						el[0].className = el[0].className.replace(/label\-(success|warning|important)/g,'label-'+memory_color(data[i].memusg));
					}
				});
			}

			function memory_color(value){
				if(value != 0)
					if ('0' <= value && value <= '512')
						 return 'success';
					else if ('512' <= value && value < '1024')
						return 'warning';
					else
						return 'important';
			}

			function check_version(){
				$.getJSON($SCRIPT_ROOT + '/_check_version', function(data) {
					if (data.latest > data.current) {
						$('#vernumber').text(data.latest)
						$('#version').fadeIn().animate({"left": "-=25px"}, 65).animate({"left": "+=50px"}, 65).animate({"left": "-=50px"}, 65).animate({"left": "+=50px"}, 65).animate({"left": "-=50px"}, 65).animate({"left": "+=25px"}, 65).fadeTo(5000, 0.5);
						$('#version').hover(function() {
							$(this).fadeTo(400, 1);
						},
						function() {
							$(this).fadeTo(400, 0.5);
						});
					};
				});
			}

			function refresh(){
				$('#home-load').fadeIn();
				refreshMemoryHost();
				refreshCPUHost();
				refreshDiskHost();
				refreshUptimeHost();
				refreshMemoryContainers();
				$('#home-load').fadeOut();
			}

			$(function() {
				refresh();
				check_version();
				{% if session.su == 'Yes' and containers == [] %}$('#createCT').modal('show'){% endif %}
				window.setInterval('refresh()', 15000);
			});

			{% if session.su == 'Yes' %}$(document).ready(function(){

				var token = '{{ session.token }}';

				$(".destroy").on('click',function(e){
					$(".destroy-link").attr('href',"{{url_for('action', action='destroy') }}" + "&token="+ token +"&name="+ $(this).data('container-name'));
					$('#destroy').modal('show');
				});

				// Create CT
				$('#advancedcreate').click(function(e){ e.preventDefault(); $('#advancedcreatediv').slideToggle(); });

				// Clone CT
				$('#advancedclone').click(function(e){ e.preventDefault(); $('#advancedclonediv').slideToggle(); });

				$(".backingstore").on('change',function(){
						var _val = $(this).val();
						var _lvm = $(this).closest('.advanced-wrapper').find('.lvm');
						var _directory = $(this).closest('.advanced-wrapper').find('.directory');
						
						if( _val == 'lvm'){
							_lvm.slideDown();
							_directory.slideUp();
						}
						else if ( _val == 'directory' ){
							_directory.slideDown();
							_lvm.slideUp();
						}
						else{
							_directory.slideUp();
							_lvm.slideUp();
						}
					});

					$('.modalbutton').on('click', function () {
						$('.buttons-modal-footer').slideUp()
						$('.loader-modal-footer').slideDown()
					})
			});{% endif %}
</script>
{% endblock %}