{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="span7">
	{{ super() }}
	<div class="accordion" id="accordion2">
		{% for user in users %}
			<div class="accordion-group">
				<div class="accordion-heading">
					<a type="button" class="btn btn-danger delete btn-mini pull-right{% if (su_users.num < 2 and user.su == 'Yes') or nb_users.num <= 1 %} disabled{% endif %}" data-userid="{{ user.id }}" data-username="{{ user.username }}" style="margin: 7px 7px 0 0;"><i class="icon-trash icon-white"></i> Delete</a>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ user.username }}">
					  {% if user.name %}{{ user.name }} ({{ user.username }}){% else %}{{ user.username }}{% endif %}
					</a>
				</div>
				<div id="{{ user.username }}" class="accordion-body collapse{% if session.username == user.username %} in{% endif %}">
					<div class="accordion-inner">
						<form class="form-inline" method="post" id="editUser">
							<input type="hidden" name="username" value="{{ user.username }}">
							<input type="text" name="name" value="{{ user.name }}" pattern="[a-z A-Z0-9]{3,32}" placeholder="Name">

							<div class="switch switch-small" data-on="success" data-on-label="<i class='icon-star icon-white'></i>" data-off-label="<i class='icon-user'></i>">
								<input type="checkbox" name="su" value="Yes"{% if user.su == 'Yes' %} checked{% endif %}{% if (su_users.num < 2) and (user.su == 'Yes') %} disabled{% endif %}>
							</div>
							
							<br /> <br />

							<input type="password" name="password1" id="password1-{{ user.id }}" placeholder="Password">
							<input type="password" name="password2" placeholder="Re-type">
							<input type="hidden" name="newUser" value="False">
							<button type="submit" class="btn">Update</button>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="span2">
	<a class="btn btn-success btn-block" data-toggle="modal" data-target="#newUser"><i class="icon-plus-sign icon-white"></i> New user</a>
</div>
{% include "includes/modal_new_user.html" %}
{% if nb_users.num > 1 %}{% include "includes/modal_delete.html" %}{% endif %}
{% endblock %}
{% block script %}
	<script src="../static/js/bootstrapSwitch.js"></script>
	{% if nb_users.num > 1 %}
		<script type="text/javascript">
			var token = '{{ session.token }}';

			$(document).ready(function(){
				$(".delete").not('.disabled').on('click',function(e){
					var _this = $(this);
					$(".delete-link").attr('href',"/lwp/users?username="+ _this.data('username') +"&token="+ token +"&trash=1&userid="+ _this.data('userid'));
					$('#delete').modal('show');
				});
			});
		</script>
	{% endif %}
{% endblock %}
